

.navbar{
    background-image: url(../../assets/NAV.jpg);
    border: 2px solid rgb(9, 238, 112);
}
.nav-item{
    color: black;
    font-size: 15px;
}
.btn{
    color: black;
}
.nav-link:hover{
background-color: rgb(228, 63, 159);
}

.fas{
    color: black;
    background-color: #21d192;
}
.breadcrumb{
    background-color:#21d192;
    
}


.cart-button {
    background-color:#21d192;;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 50px;
    height: 90px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: 1px solid red;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}



