
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <p class="card-text">Id:{{homeData.id}}</p>
                <p class="card-text">Title:{{homeData.title}}</p>
                <p class="card-text">Description:{{homeData.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <!-- <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button> -->
                <button class="btn btn-primary" routerLink="/cart">Click</button>
            </div>
        </ng-container>

    </div>
</div>