

   <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">SIGN UP</h5>
            
            <form [formGroup]="signupForm" (ngSubmit)="dataSubmit()">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="fname" placeholder="enter your first name" required autofocus>
                <label for="floatingInputUsername">First Name:</label>
              
                <div *ngIf="signupForm.controls['fname'].errors?.required">
                  Required Feild.
               </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="lname" placeholder="enter your last name">
                <label for="floatingInputEmail">Last Name:</label>

                <div *ngIf="signupForm.controls['lname'].errors?.required">
                  Required Feild.
               </div>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="enter your email">
                <label for="floatingPassword">Email Address:</label>

                <div *ngIf="signupForm.controls['email'].errors?.required">
                  Required Feild.
               </div>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="enter your Password">
                <label for="floatingPasswordConfirm">Password:</label>

                <div *ngIf="signupForm.controls['password'].errors?.required">
                  Required Feild.
                </div> 
              </div>

              <div><p>{{this.errorMsg}}</p></div> 

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">SIGN UP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
