
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>
</div>


<!-- 
<div class="row">
    <div *ngFor="let x of homeDetails">
    <div class="col-md-6 col-sm-4 col-lg-4 ">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{x.image}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{x.title}}</h5>
        <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
    </div>
  </div>
 </div>
</div>
</div> -->




<div class="social-box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
						<div class="box-title">
							<h3 class="card-title">Foldsack No. 1 Backpack</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	 
				<!-- 2 -->
				 <div class="col-lg-4 col-xs-12  text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt="">
						<div class="box-title">
							<h3>Mens Casual Premium Slim Fit T-Shirts </h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	 
				<!-- 3 -->
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" alt="">
						<div class="box-title">
							<h3>Mens Cotton Jacket</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	 
				<!-- 4 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg" alt="">
						<div class="box-title">
							<h3>Mens Casual Slim Fit</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	 
				<!-- 5 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg" alt="">
						<div class="box-title">
							<h3>Jewelery</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 6 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg" alt="">
						<div class="box-title">
							<h3>Jewelery</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 7 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="">
						<div class="box-title">
							<h3>Jewelery</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 8 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg" alt="">
						<div class="box-title">
							<h3>Jewelery</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 9 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 10 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 11 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71kWymZ+c+L._AC_SX679_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 12 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/61mtL65D4cL._AC_SX679_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 13 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/81QpkIctqPL._AC_SX679_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 14 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg" alt="">
						<div class="box-title">
							<h3>Electronics</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 15 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/51Y5NI-I5jL._AC_UX679_.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 16 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/81XH0e8fefL._AC_UY879_.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 17 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71HblAHs5xL._AC_UY879_-2.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 18 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 19 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
				<!-- 20 -->
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <img class="card-img-top" src="https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg" alt="">
						<div class="box-title">
							<h3>Women's Clothing</h3>
						</div>
						<div class="box-btn">
                            <a routerLink="../products/1" class="btn btn-primary">Click to View Details</a>
						</div>
					 </div>
				</div>	  
		<!-- last -->
		</div>		
    </div>
</div>


