

/* 
#first-slider .slide1 {
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}
#first-slider .slide2 {
  
  background-size: cover;
  background-repeat: no-repeat;
}
#first-slider .slide3 {
 
      background-size: cover;
    background-repeat: no-repeat;
}


 */




h5{
  font-size: 40px;
  margin:30px;
  color: red;
}
p{
  font-size: 30px;
  color: blue;
  margin: 30px;
}
.btn-btn-primary{
  background-color: rgb(37, 231, 238);
  color: black;
  height: 60px;
  width: 120px;
  margin: 20px;
  border: 1px solid rgb(241, 8, 171);
}
.btn-btn-primary:hover{
  color:orange;
}